@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.custom-tab .nav-item .nav-link {
    height: 35px;  /* or any height you prefer */
    display: flex;
    align-items: center; /* to center the text vertically */
}